.particles {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.outerContainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}

.container {
  margin: 8px;
  z-index: 1;
}

@media (min-width: 576px) {
  .outerContainer {
    margin-top: -4rem;
  }
}