.sayhi{
  display: block;
  margin-bottom: -15px;
}
.headline {
  font-family: 'Lora', sans-serif;;
  font-size: 1.7rem;
  color: var(--primary-color);
  font-weight: 700;
}

.underline {
  font-size: 1.125rem;
  color: var(--text-color);
}

@media (min-width: 576px) {
  .headline {
    font-size: 2.5rem;
  }

  .underline {
    font-size: 1.5rem;
  }
}